<div class="homepage-h1-box">
  <h1 class="homepage-h1">YOUR INGREDIENTS, OUR RECIPES</h1>
  <p class="homepage-subh1">We save your food!</p>
</div>

<div class="search d-flex justify-content-center">
  <div class="recipe-search-div d-flex justify-content-center align-items-center">
    <a id="homepage-recipes-search" href="/recipes/create">Recipes search</a>
  </div>
  <!-- <div class="calories-search-div d-flex justify-content-center align-items-center">
    <a id="homepage-calories-search" href="#">Calories search</a>
  </div> -->
</div>
