<div class="homepage-h1-box">
  <h1 class="homepage-h1">YOUR INGREDIENTS, OUR RECIPES</h1>
  <p class="homepage-subh1">We save your food!</p>
  <a class="homepage-btn-title" href="#homepage-how-it-works">How it works</a>
</div>

<div class="search d-flex justify-content-between">
  <div class="recipe-search-div d-flex justify-content-center align-items-center">
    <a id="homepage-recipes-search" href="/recipes/create">Recipes search</a>
  </div>
  <div class="calories-search-div d-flex justify-content-center align-items-center">
    <a id="homepage-calories-search" href="#">Calories search</a>
  </div>
</div>

<div id="homepage-how-it-works">
  <p class="homepage-hiw-title">How it works</p>
  <div class="search-algorithm d-flex justify-content-between align-items-center">
    <div class="step-1 d-flex justify-content-center flex-column align-items-center">
      <img src="/img/step-1-homepage.jpg" alt="step-1-homepage" width="300" height="300">
      <strong class="step-title">YOUR INGREDIENTS</strong>
      <p class="step-sub">Use ingredients you have in your fridge</p>
    </div>

    <i class="fa-solid fa-arrow-right"></i>

    <div class="step-2 d-flex justify-content-center flex-column align-items-center">
      <img src="/img/step-2-homepage.jpg" alt="step-1-homepage" width="300" height="300">
      <strong class="step-title">FIND RECIPES</strong>
      <p class="step-sub">Find and select your favourite recipes. You can save in your library</p>
    </div>

    <i class="fa-solid fa-arrow-right"></i>

    <div class="step-3 d-flex justify-content-center flex-column align-items-center">
      <img src="/img/step-3-homepage.jpg" alt="step-1-homepage" width="300" height="300">
      <strong class="step-title">FIND RECIPES</strong>
      <p class="step-sub">Follow the instructions and enjoy your delicious meals</p>
    </div>
  </div>
</div>
