<form class="new-login">
  <h2 style="text-align: center; font-style: italic;">Login</h2>
  <label for="email" class="signup-label">Email</label>
  <input type="text" name="email" required class="input-signup"/>
  <div class="login-email error"></div>
  <label for="password" class="signup-label">Password</label>
  <input type="password" name="password" required class="input-signup"/>
  <div class="login-password error"></div>
  <button class="signup-btn">login</button>
</form>
