<h2>Search for Recipes</h2>
    <form action="/search" method="POST">
      <label for="ingredients">Enter ingredients:</label>
      <input type="text" id="ingredients" name="ingredients" autocomplete="off">
      <button type="submit">Search</button>
    </form>
